@using SportsStore.Domain.Entities;

@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (Product p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, delegate(int x)
    {
        return Url.Action("List", new { page = x, category = Model.CurrentCategory });
    })
</div>
